{% extends './base.html' %}

{% block extends %}

    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>Sobre o Jogo</h2>
                        <h3>UNO</h3>
                        <p>Abaixo você encontrará uma breve descrição sobre o jogo, e um pouco da história do desenvolvimento deste site.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Sobre o Jogo</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="special_description_content">
                    <h2>UNO</h2><p>É um jogo de cartas estadunidense com detalhes especiais (que o diferenciam do Mau-mau), desenvolvido por Merle Robbins e familiares em 1971. Hoje é vendido nos Estados Unidos pela Mattel e no Brasil pela Copag. Uno é um dos jogos de cartas mais vendidos no mundo.</p>
                </div>
                <div class="special_description_content">
                    <h2>Uma breve história sobre o UNO</h2><p>A história do UNO é curiosa. O jogo é fruto de uma ‘briga’ entre um pai fã de jogos de cartas e seu filho birrento.</p>
                    <p>A briga aconteceu em 1971, na cidade de Reading, nos Estados Unidos. Merle Robbins e seu filho, Ray, costumavam jogar ‘Oito Maluco‘ (saiba mais sobre este jogo de cartas logo abaixo!) à noite, mas conflitos sempre apareciam. Merle, em especial, criticava as regras do jogo, e queria disputar as partidas de um jeito diferente. Mas Ray batia o pé e exigia que as regras originais fossem seguidas. Confusão familiar na certa!</p>
                    <p>Assim, para ‘melhorar’ as regras do Oito Maluco, Merle criou um novo baralho – esse mesmo que jogamos hoje no UNO. A família aprovou as modificações e adotou o novo jogo de Merle com satisfação. Como bons norte-americanos que eram, logo os Robbins viram no divertido jogo uma oportunidade de ganhar dinheiro (quanto a isso, estavam certíssimos!).</p>
                    <p>Merle era barbeiro, portanto tinha uma clientela que poderia se transformar facilmente em possíveis compradores do novo baralho. Assim, a família economizou 8.000 dólares na época para produzir 5.000 baralhos de UNO, feitos de maneira bastante simples, e vender na barbearia.</p>
                    <p>A estratégia deu certo. Logo, o baralho colorido era mania na cidade. Não demorou muito para uma empresa maior comprar os direitos autorais do UNO, e de lá pra cá, após fusões e aquisições, o UNO se tornou uma das marcas registradas mais famosas dos Estados Unidos, com produtos licenciados e distribuídos nos quatro cantos do planeta.</p>
                    <p>Atualmente, as vendas do baralho tradicional de UNO continuam boas. Além disso, existem também centenas de variações à venda, com temáticas que variam do Snoopy à boy-band NSYNC! O jogo já ultrapassou até mesmo a barreira do mundo ‘virtual’: o app oficial é um sucesso de downloads, permitindo realizar partidas online, em tempo real, com jogadores de todo o mundo.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Area End ***** -->
    <section class="special-area bg-white section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Sobre o Desenvolvimento do Site</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="special_description_content">
                    <h2>Django</h2><p>Para auxiliar no desenvolvimento do site, foi utilizado o Framework Django, que utiliza a linguagem Python para desenvolver sistemas WEB completos e sofisticados.</p>
                </div>
                <div class="special_description_content">
                    <h2>Desenvolvedores</h2><p>O site foi desenvolvido pelos alunos Rafael Almeida e Margarida Milena da turma do 4º INTIN (Técnico Integrado em Informática) do IFPB - Campus Cajazeiras.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}